script(src="/js/app.js")
script(src="/js/shipping.js")

- var subtitle = country
include head

script var currentCountry = "#{country}";

script(type='omg', id='path-template')
  li(rel="popover", data-original-title="TOP товаров")
    | ${from_station.name} ->
    | ${to_station.name} :
    b ${count} (${perc}%)
    hr

script(type='omg', id='top-product-template')
  ul
    | {{each top_product}}
    li
     b ${$value.count} &nbsp;
     ${$value.product}
    | {{/each}}

script(type='omg', id='dialog-template')
  div(title="${title}")
    table.table.table-striped
      thead
        tr
          td Дата
          td Номер накладной
          td От
          td Кому
          td Товар
          td Поезд
          td Вагон
      tbody
        | {{each shipments}}
        tr
          td.span2 ${$value.invoice.human_date}
          td ${$value.invoice.num}
          td ${$value.from}
          td ${$value.to}
          td ${$value.product}
          td ${$value.train.num}
          td ${$value.train.wagon}
        | {{/each}}

.row-fluid
  .span3
    ul#paths
    #status
      span Всего: &nbsp;
      span#total
  .span9
    #map
